<div class="card" style="width: 18rem; float:left;">
    <img class="card-img-top" src="../../../../../assets/images/gaadi.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Gaadi.com</h5>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;  float:left;margin-left: 16px;">
      <img class="card-img-top" src="../../../../../assets/images/cardekho.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Car Dekho</h5>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem; float:left;margin-left: 16px;">
        <img class="card-img-top" src="../../../../../assets/images/bikedekho.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Bike Dekho</h5>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

